.logo
{
  background-image: url("fall2.html");
}



h1{ font-weight: 300; color: #bb2b0a71; font-size: 60px; font-family: sans-serif;

  background-color: #eebca96d; text-align: center;
  padding: 25px;
  margin: 20px;
}

h2
{
font-weight: 300; color: #7a1a04c7; font-size: 30px; font-family: serif;
padding-left: 10px;
text-align: center;
}

.banner{
  background-color:#f7c0ae; text-align: center; font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #75110a9d;
    padding-top: 15px;
    margin-bottom: 15px;
    margin-top: 15px;

}


p{
  text-align: center; background-color: white;
  font-size: 199px;
  line-height: 2;
  padding-bottom: 0px;
  margin: 250px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 10px; border-color: blue;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:rgba(70, 66, 66, 0.61);
  padding: 50px;
  padding-top: 40px;
  border-color: #c11a1a;
  
}
.contacts{
    text-align: center; background-color: white;
    padding-bottom: 150px;
    margin: 250px;
    margin-top: 30px;
    border-top: 10px; border-color: white;
    font-family:"sans-serif";
    color:rgba(70, 66, 66, 0.61);
    padding: 40px, 10px, 10px;
}



a{color:green}






.navi{
  margin-top: 30px;
  height: 13%; /* Full-height: remove this if you want "auto" height */
  width: 100px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  font-family: sans-serif;
  font-size: 25px;
  color:#75110a9d;
  text-align: left;
  background-image: url("wood.jfif"); 
  padding-left: 0px; ;
  padding-bottom: 0px;
  margin-right: 10px;
  margin-top: 26px;
  overflow-x: hidden; /* Disable horizontal scroll */

}

ul{list-style-type:none;}
ul li {padding: 15px; margin-right: 40px; border-top: 1px solid #999}
ul li:last-child{border-bottom:5px solid #c11a1a}
ul li:first-child{border-top:5px solid #c11a1a}

.sidenav {
  height: 1000px;
  width: 160px;
  display: inline-flex;
  text-align: center;
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #f8d0c3; 
  overflow-x: hidden; /* Disable horizontal scroll */
}

